[Unit]
Description=Wrapper around services started by XDG Desktop files

[Service]
ExecStart=/usr/bin/dex -e systemd -a

[Install]
WantedBy=apps.target

