# Useful system commands
alias svim="sudo vim $*"
alias ls='ls --color=auto -c'
alias mkncd="mkdir -p $* && cd $*"

# Systemd
alias sys="sudo systemctl $*"
alias usys="systemctl --user $*"

# Useful directories
alias cddb="cd ~/Dropbox/$*"


# Quick HTTP server
server() {
  python -m http.server $@
}

if [ -e ~/.aliases.local ]; then
    . ~/.aliases.local
fi

# vim: set filetype=sh :
