# Useful system commands
alias svim="sudo vim $*"
alias ls='ls --color=auto -c'
alias mkncd="mkdir -p $* && cd $*"

# Systemd
alias sys="sudo systemctl $*"
alias usys="systemctl --user $*"

# Useful directories
alias cddb="cd ~/Dropbox/$*"

# Open surf to a file
function fsurf() {
surf "file://$PWD/${1}"
}

# Pandoc aliases
function pdfslide() {
pandoc -t beamer "$1" -o "${1%.*}.pdf"
}

function slide() {
pandoc -t slidy --mathjax -s "$1" -o "${1%.*}.html"
}

# Quick HTTP server
server() {
  python -m http.server $@
}

diechromedie() {
    for proc in $(ps -aux | grep chrome | grep -v grep | awk '{ print $2}'); kill -9 $proc
}

if [ -e ~/.aliases.local ]; then
    . ~/.aliases.local
fi

# vim: set filetype=sh :
