[submodule "links/.vim/bundle/syntastic"]
	path = links/.vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "links/.zsh/plugins/zsh-syntax-highlighting"]
	path = links/.zsh/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "links/.vim/bundle/vim-jinja"]
	path = links/.vim/bundle/vim-jinja
	url = git://github.com/lepture/vim-jinja.git
[submodule "links/.vim/bundle/neocomplete"]
	path = links/.vim/bundle/neocomplete
	url = git://github.com/Shougo/neocomplete.vim.git
[submodule "links/.vim/bundle/vim-afterimage"]
	path = links/.vim/bundle/vim-afterimage
	url = git://github.com/tpope/vim-afterimage.git
[submodule "links/.vim/bundle/vim-eunuch"]
	path = links/.vim/bundle/vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "links/.vim/bundle/zenburn"]
	path = links/.vim/bundle/zenburn
	url = git://github.com/jnurmine/Zenburn.git
[submodule "links/texmf/tex/latex/mla13"]
	path = links/texmf/tex/latex/mla13
	url = git://github.com/jackson13info/mla13.git
[submodule "links/.vim/bundle/vim-airline"]
	path = links/.vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule "links/.vim/bundle/tmuxline.vim"]
	path = links/.vim/bundle/tmuxline.vim
	url = git://github.com/edkolev/tmuxline.vim.git
[submodule "links/.vim/bundle/promptline.vim"]
	path = links/.vim/bundle/promptline.vim
	url = git://github.com/edkolev/promptline.vim.git
[submodule "links/.vim/bundle/rust.vim"]
	path = links/.vim/bundle/rust.vim
	url = https://github.com/wting/rust.vim.git
[submodule "links/.vim/bundle/salt-vim"]
	path = links/.vim/bundle/salt-vim
	url = https://github.com/saltstack/salt-vim.git
[submodule "links/.vim/bundle/vim-gitgutter"]
	path = links/.vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "links/.vim/bundle/YouCompleteMe"]
	path = links/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "links/.vim/bundle/calendar.vim"]
	path = links/.vim/bundle/calendar.vim
	url = https://github.com/itchyny/calendar.vim
