[submodule ".config/awesome/tyrannical"]
	path = .config/awesome/tyrannical
	url = git://github.com/Elv13/tyrannical.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".config/awesome/pulseaudio"]
	path = .config/awesome/pulseaudio
	url = git://github.com/orofarne/pulseaudio-awesome.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".zsh/plugins/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/bundle/vim-jinja"]
	path = .vim/bundle/vim-jinja
	url = git://github.com/lepture/vim-jinja.git
