[submodule "links/.config/nvim/bundle/syntastic"]
	path = links/.config/nvim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "links/.zsh/plugins/zsh-syntax-highlighting"]
	path = links/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "links/.config/nvim/bundle/vim-jinja"]
	path = links/.config/nvim/bundle/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule "links/.config/nvim/bundle/neocomplete"]
	path = links/.config/nvim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "links/.config/nvim/bundle/vim-afterimage"]
	path = links/.config/nvim/bundle/vim-afterimage
	url = https://github.com/tpope/vim-afterimage.git
[submodule "links/.config/nvim/bundle/vim-eunuch"]
	path = links/.config/nvim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "links/.config/nvim/bundle/zenburn"]
	path = links/.config/nvim/bundle/zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "links/texmf/tex/latex/mla13"]
	path = links/texmf/tex/latex/mla13
	url = https://github.com/jackson13info/mla13.git
[submodule "links/.config/nvim/bundle/vim-airline"]
	path = links/.config/nvim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "links/.config/nvim/bundle/tmuxline.vim"]
	path = links/.config/nvim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "links/.config/nvim/bundle/promptline.vim"]
	path = links/.config/nvim/bundle/promptline.vim
	url = https://github.com/edkolev/promptline.vim.git
[submodule "links/.config/nvim/bundle/rust.vim"]
	path = links/.config/nvim/bundle/rust.vim
	url = https://github.com/wting/rust.vim.git
[submodule "links/.config/nvim/bundle/salt-vim"]
	path = links/.config/nvim/bundle/salt-vim
	url = https://github.com/saltstack/salt-vim.git
[submodule "links/.config/nvim/bundle/vim-gitgutter"]
	path = links/.config/nvim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "links/.config/nvim/bundle/YouCompleteMe"]
	path = links/.config/nvim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "links/.config/nvim/bundle/calendar.vim"]
	path = links/.config/nvim/bundle/calendar.vim
	url = https://github.com/itchyny/calendar.vim
[submodule "links/makefile-templates"]
	path = links/makefile-templates
	url = https://github.com/zml2008/makefile-templates.git
[submodule "links/.config/nvim/bundle/kotlin-vim"]
	path = links/.config/nvim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule "links/.config/nvim/bundle/vim-easy-align"]
	path = links/.config/nvim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "links/.config/nvim/bundle/vim-airline-themes"]
	path = links/.config/nvim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "links/.config/nvim/bundle/unite.vim"]
	path = links/.config/nvim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "links/.config/nvim/bundle/vison"]
	path = links/.config/nvim/bundle/vison
	url = https://github.com/Quramy/vison.git
[submodule "links/.config/nvim/bundle/vim-latex"]
	path = links/.config/nvim/bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "links/.config/nvim/bundle/vimwiki"]
	path = links/.config/nvim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "links/.config/nvim/bundle/vim-nix"]
	path = links/.config/nvim/bundle/vim-nix
	url = https://github.com/LnL7/vim-nix.git
[submodule "links/.config/nvim/bundle/vim-json"]
	path = links/.config/nvim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "links/.steam/skins/HiDPI-Steam-Skin"]
	path = links/.steam/steam/skins/HiDPI-Steam-Skin
	url = https://github.com/MoriTanosuke/HiDPI-Steam-Skin.git
[submodule "links/.config/nvim/bundle/vim-toml"]
	path = links/.config/nvim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "links/.config/nvim/bundle/Nvim-R"]
	path = links/.config/nvim/bundle/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R.git
[submodule "links/.local/share/nvim/site/pack/dotfiles/start/editorconfig-vim"]
	path = links/.local/share/nvim/site/pack/dotfiles/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "links/.local/share/nvim/site/pack/dotfiles/start/riv.vim"]
	path = links/.local/share/nvim/site/pack/dotfiles/start/riv.vim
	url = https://github.com/gu-fan/riv.vim
[submodule "links/.local/share/nvim/site/pack/dotfiles/start/palenight.vim"]
	path = links/.local/share/nvim/site/pack/dotfiles/start/palenight.vim
	url = https://github.com/drewtempelmeyer/palenight.vim
[submodule "links/.zsh/plugins/zsh-autosuggestions"]
	path = links/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
