# Useful system commands
alias svim="sudo nvim $*"
alias ls='ls --color=auto -c'
alias p='pacaur'
alias mv="mv -v"
alias cp="cp -v"

# Git aliases
alias g="git"
alias gc="git commit $*"
alias gp="git pull --rebase"
alias gs="git stash"
alias gsp="git stash pop"

# Systemd
alias sys="sudo systemctl $*"
alias usys="systemctl --user $*"

# Useful directories
alias cddb="cd ~/Dropbox/$*"

# Colourize man pages
man() {
    env \
        LESS_TERMCAP_mb=$(printf "\e[1;31m") \
        LESS_TERMCAP_md=$(printf "\e[1;31m") \
        LESS_TERMCAP_me=$(printf "\e[0m") \
        LESS_TERMCAP_se=$(printf "\e[0m") \
        LESS_TERMCAP_so=$(printf "\e[1;44;33m") \
        LESS_TERMCAP_ue=$(printf "\e[0m") \
        LESS_TERMCAP_us=$(printf "\e[1;32m") \
            man "$@"
}

mkncd() {
    if [[ ! -e "$1" ]]; then
        mkdir -p $1
    fi
    cd $1
}

# Open surf to a file
fsurf() {
surf "file://$PWD/${1}"
}

# Pandoc aliases
pdfslide() {
pandoc -t beamer "$1" -o "${1%.*}.pdf"
}

slide() {
pandoc -t slidy --mathjax -s "$1" -o "${1%.*}.html"
}

mdpdf() {
pandoc --latex-engine=lualatex -V geometry:margin=1in -V geometry:top=0.5in "$1" -o "${1%.*}.pdf" --filter pandoc-citeproc
}

aria2cli() {
DIANA_SECRET_TOKEN=$(cat $HOME/.config/aria2/aria2.conf| grep rpc-secret  | tail -c '+12') diana $*
}

# Quick HTTP server
server() {
  python -m http.server $@
}

diechromedie() {
    for proc in $(ps -aux | grep chrome | grep -v grep | awk '{ print $2}'); do
        kill -9 $proc
    done
}

clipboardto() {
if [ $# -lt 1 ]; then
    echo "Not enough arguments. Usage: $0 <host>"
    return 1
fi

HOST=$1
xclip -o -selection clipboard | ssh $HOST xclip -i -selection clipboard -d $DISPLAY
}

crapp() {
   chromium --app=$1
}

if [ -e ~/.aliases.local ]; then
    . ~/.aliases.local
fi

# vim: set filetype=sh :
