. ~/.session
export _JAVA_AWT_WM_NOREPARENTING=1

xhost local:boinc &
xset r rate 220 &
xmodmap -e 'clear Lock' -e 'keycode 0x42 = Escape'

command -v powerline-daemon && powerline-daemon &
nitrogen --restore
dex -e awesome -a &
unagi &
runonce mpd --no-daemon

xautolock -locker lockscreen -corners "0+00" -cornerdelay 1 &
udiskie --tray &

[ -e ~/.xprofile.local ] && . ~/.xprofile.local
# vim: set filetype=sh :
